sync_address = 'https://atuin.{{ (onepasswordRead "op://k8s/cluster-secrets/SECRET_DOMAIN") -}}'
enter_accept = false
search_mode = "fuzzy"
filter_mode = "host"
history_filter = [
   "stash-sync",
   "^stash-yt"
]

[keys]
scroll_exits = false
