sync_address = 'https://atuin.{{ (onepasswordRead "op://k8s/cluster-secrets/SECRET_DOMAIN") -}}'
enter_accept = false
search_mode = "skim"
filter_mode = "host"
scroll_exits = false
history_filter = [
   "stash-sync",
   "^stash-yt"
]
