alias l='ls'
alias g='git'
{{- if (eq .chezmoi.os "darwin") }}
alias ls="gls --color"
alias dns="sudo killall -hUP mDNSResponder"
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias kl='kubectl autons logs'
alias kgp='k get pods -A | grep'
{{- end }}

{{ if .work -}}
# work aliases
alias asc='assume-service -c'
alias asi='assume-service -i'
{{ end -}}
