alias ls="gls --color"
alias dns="sudo killall -hUP mDNSResponder"
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

function yt-stash() {
    rm -f /tmp/cookies.txt
    yt-dlp --cookies-from-browser chrome --cookies /tmp/cookies.txt --exec 'rsync -avzh --progress --remove-source-files "%(filepath)s" root@{{ (onepasswordItemFields "ciqn4r2nfvdvnnorzxblhcys5u").hostname.value -}}:/var/lib/docker/volumes/stash_media_fs/_data' $1
    curl --cookie /tmp/cookies.txt -H "Content-Type: application/json"  --data '{  "query": "mutation { metadataScan ( input: { useFileMetadata: false } ) } "}' https://{{ (onepasswordItemFields "ciqn4r2nfvdvnnorzxblhcys5u").hostname.value -}}/graphql
}

function sync-stash() {
    shopt -s globstar
    rsync -avzh --progress --remove-source-files $@/** root@{{ (onepasswordItemFields "ciqn4r2nfvdvnnorzxblhcys5u").hostname.value -}}:/var/lib/docker/volumes/stash_media_fs/_data
    curl --cookie /tmp/cookies.txt -H "Content-Type: application/json"  --data '{  "query": "mutation { metadataScan ( input: { useFileMetadata: false } ) } "}' https://{{ (onepasswordItemFields "ciqn4r2nfvdvnnorzxblhcys5u").hostname.value -}}/graphql
}

{{ if .work -}}
# ssh into a dev instance. requires atlas + the atlas micros plugin to be installed
function micros-ssh() { 
    atlas micros service ssh --service=$1 --env=$2 
}

function stacks() {
    if [ "$#" -eq 2 ]
    then
        PARAM='.environments | "'$2'" as $k'
    elif [ "$#" -eq 1 ]
    then
        PARAM='.environments | keys[] as $k'
    else
        echo "Usage: $0 <name> <end>"
        exit 1
    fi

    read -r -d '' JQ_EXPR << END
        [
            $PARAM |
            {
                env: \$k,
                url: .[\$k].url,
                stacks: {
                    stable: {
                        traffic: .[\$k].stable.traffic,
                        id: .[\$k].stable.id
                    },
                    canary: {
                        traffic: .[\$k].canary.traffic,
                        id: .[\$k].canary.id
                    },
                    previous: {
                        traffic: .[\$k].previous.traffic,
                        id: .[\$k].previous.id
                    }
                }
            }
        ]
END

    JSON_RESP=$(atlas micros service show --service $1 --output json | jq -r "$JQ_EXPR")
    echo $JSON_RESP | jq

}

function instance-type() {
    if [ "$#" -eq 2 ]
    then
        PARAM='.stacks | "'$2'" as $k'
    elif [ "$#" -eq 1 ]
    then
        PARAM='.stacks | keys[] as $k'
    else
        echo "Usage: $0 <name> <end>"
        exit 1
    fi

    read -r -d '' JQ_EXPR << END
        [
            $PARAM |
            {
                env: \$k, 
                instanceType: .[\$k][].outputs.WebServerInstance
            }
        ]
END

    JSON_RESP=$(atlas micros service show --service $1 --output json | jq -r "$JQ_EXPR")
    echo $JSON_RESP | jq

}

function sidecar-versions() {
    if [ "$#" -eq 2 ]
    then
        PARAM='.stacks."'$2'"[]'
    elif [ "$#" -eq 1 ]
    then
        PARAM='.stacks[][]'
    else
        echo "Usage: $0 <name> <end>"
        exit 1
    fi

    JSON_RESP=$(micros service:show --json $1 | jq -r "$PARAM | {env: .env, sidecars: .platformComponents}")
    echo $JSON_RESP | jq
}

function service-dns() {
    atlas slauth curl -a service-central -- "https://services.prod.atl-paas.net/api/v2/services/$1/attributes/dns-name" 2>/dev/null | jq -r '.value[].value'
}

function metric-dimensions() {
    METRIC_URL='https://api.us1.signalfx.com/v2/metrictimeseries'
    TIMEOUT=60
    METRIC_NAME=$1
    
    read -r -d '' RESP_FORMAT << END
        {
            created: (.created / 1000 | strflocaltime("%Y-%m-%d %H:%M:%S (%Z)")),
            dimensions: .dimensions
        }
END
    JSON_RESP=$(http --timeout=${TIMEOUT} GET ${METRIC_URL}/\?query\=sf_metric:${METRIC_NAME} x-sf-token:${SFX_TOKEN} | jq -r ".results[0] | ${RESP_FORMAT}")
    echo $JSON_RESP | jq
}
{{ end -}}
