#!/bin/bash
# brewfile hash: {{ include "dot_Brewfile.tmpl" | sha256sum }}

set -eufo pipefail
{{ template "log.sh" . }}
log_step "Installing Homebrew packages"
eval "$(/opt/homebrew/bin/brew shellenv)"

unset HOMEBREW_CASK_OPTS_REQUIRE_SHA
export HOMEBREW_CASK_OPTS="${HOMEBREW_CASK_OPTS:-}"
export HOMEBREW_CASK_OPTS="${HOMEBREW_CASK_OPTS//--require-sha/}"

# needed for private homebrew tap
export HOMEBREW_GITHUB_API_TOKEN={{ (onepasswordRead "op://Private/Github/personal access token") }}

log_info "Updating Homebrew"
brew update
log_info "Installing packages from Brewfile"
brew bundle --file=~/.Brewfile
log_info "Pruning packages not in Brewfile"
brew bundle cleanup --zap --force --file=~/.Brewfile
log_ok "Homebrew packages installed"
