#!/bin/bash

set -eufo pipefail
{{ template "log.sh" . }}

log_step "Configuring macOS energy settings..."

{{ template "macos-sudo-prime.sh" . }}

# Restart automatically if the computer freezes
sudo systemsetup -setrestartfreeze on > /dev/null 2>&1

# Set machine sleep to 5 minutes on battery
sudo pmset -b sleep 5

# Set standby delay to 24 hours (default is 1 hour)
sudo pmset -a standbydelay 86400

# Never go into computer sleep mode
sudo systemsetup -setcomputersleep Off > /dev/null 2>&1

# Disable hibernation (speeds up entering sleep mode)
sudo pmset -a hibernatemode 0

# Remove the sleep image file to save disk space
sudo rm -f /private/var/vm/sleepimage
sudo touch /private/var/vm/sleepimage
sudo chflags uchg /private/var/vm/sleepimage

log_ok "Done configuring macOS energy settings."
