#!/bin/bash

set -eufo pipefail

echo "Configuring macOS screen settings..."

{{ if .personal -}}
echo -n '{{ (onepasswordRead "op://Shared/Personal Password/password") }}' | sudo -vS
{{ else if .work -}}
echo -n '{{ (onepasswordRead "op://Shared/Work Password/password") }}' | sudo -vS
{{ end -}}

while true; do sudo -n true; sleep 60; kill -0 "$$" || exit; done 2>/dev/null &

# Require password immediately after sleep or screen saver begins
defaults write com.apple.screensaver askForPassword -int 1
defaults write com.apple.screensaver askForPasswordDelay -int 0

# Save screenshots to ~/Pictures/screenshots
mkdir -p $HOME/Pictures/screenshots
defaults write com.apple.screencapture location -string "${HOME}/Pictures/screenshots"

# Save screenshots in PNG format
defaults write com.apple.screencapture type -string "png"

# Enable subpixel font rendering on non-Apple LCDs
defaults write NSGlobalDomain AppleFontSmoothing -int 1

# Enable HiDPI display modes (requires restart)
sudo defaults write /Library/Preferences/com.apple.windowserver DisplayResolutionEnabled -bool true

echo "Done configuring macOS screen settings."
