#!/bin/bash

set -eufo pipefail
{{ template "log.sh" . }}
log_step "Bootstrap: Homebrew & 1Password"

# Install Homebrew
command -v brew >/dev/null 2>&1 || \
  (echo '🍺  Installing Homebrew' && /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)")

eval "$(/opt/homebrew/bin/brew shellenv)"

log_info 'Installing 1Password (cask + cli)'
brew bundle --file=/dev/stdin <<EOF
cask "1password"
cask "1password-cli"
EOF

op account add --address my.1password.com --email "adam@petrovic.com.au"
eval $(op signin --account my)
