{{/* profile detection */}}
{{- $profile := promptStringOnce . "profile" "Profile (personal/work)" -}}
{{- $email := promptStringOnce . "email" "What is your email address" -}}

[data]
    full_name = "Adam Petrovic"
    profile = {{ $profile | quote }}
    work = {{ eq $profile "work" }}
    personal = {{ eq $profile "personal" }}
    email = {{ $email | quote }}

[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/.install-password-manager.sh"
