{{/* base level packages for all environments */}}
{{- $taps := list
    "homebrew/cask-fonts"
    "homebrew/cask-versions"
    "homebrew/command-not-found"
    "homebrew/bundle"
    "buo/cask-upgrade"
    "fluxcd/tap"
    "go-task/tap"
    "weaveworks/tap"
    "robusta-dev/homebrew-krr"
    "siderolabs/tap" -}}

{{- $customTaps := dict -}}

{{- $brews := list
    "asdf"
    "bat"
    "bind"
    "chezmoi"
	"cilium-cli"
    "coreutils"
	"direnv"
    "dockutil"
    "doggo"
    "entr"
    "fzf"
	"fluxcd/tap/flux"
    "git"
    "git-delta"
    "git-extras"
    "gnu-sed"
	"go-task/tap/go-task"
    "grep"
    "gum"
    "httpstat"
    "httpie"
    "jq"
    "krew"
    "krr"
	"kubectl"
    "mas"
    "neovim"
    "pipenv"
    "ripgrep"
    "rsync"
    "sops"
    "talosctl"
    "talhelper"
    "vim"
    "watch"
    "wget"
    "yq"
    "zsh" -}}

{{- $casks := list
    "1password"
    "1password-cli"
    "alfred"
    "bartender"
    "cleanshot"
    "fantastical"
    "font-hack-nerd-font"
    "font-fira-code"
    "font-jetbrains-mono"
    "goland"
    "google-chrome"
    "intellij-idea"
    "istat-menus"
    "iterm2"
    "keyboardcleantool"
    "obsidian"
    "pycharm"
    "rectangle-pro"
    "rustrover"
    "spotify"
    "telegram" 
    "visual-studio-code" -}}

{{- $mas := dict
    "Amphetamine" "937984704"
    "Reeder" "1529448980"
    "Things3" "904280696" -}}

{{/* personal-specific packages */}}
{{- if .personal -}}
{{- $taps = concat $taps (list) -}}

{{-  $brews = concat $brews (list) -}}

{{-  $casks = concat $casks (list
    "brave-browser"
    "calibre"
    "kindle-previewer") -}}

{{-  $mas = merge $mas (dict
    "Wireguard" "1451685025"
    "Parcel" "639968404"
    "Stockfish Chess" "801463932") -}}
{{- end -}}


{{/* work-specific packages */}}
{{- if .work -}}
{{- $taps = concat $taps (list) -}}

{{  $customTaps = merge $customTaps (dict
    "atlassian/micros" "ssh://git@stash.atlassian.com:7997/micros/homebrew-tap.git"
    "atlassian/cloudtoken" "ssh://git@bitbucket.org/atlassian/cloudtoken-homebrew-tap.git"
    "atlassian/kubetoken" "ssh://git@stash.atlassian.com:7997/kube/homebrew-kubetoken.git") -}}

{{  $brews = concat $brews (list
    "atlas-cli"
    "go-jira"
    "tfenv") -}}

{{  $casks = concat $casks (list
    "amazon-workspaces"
    "cloudtoken"
    "docker"
    "postman"
    "slack-beta"
    "zoom") -}}

{{  $mas = merge $mas (dict
    "Wireguard" "1451685025"
    "Parcel" "639968404") -}}
{{- end -}}

{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end }}
{{ range $name, $url := $customTaps -}}
tap "{{ $name }}", "{{ $url }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end }}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end }}
{{ range $app, $id := $mas -}}
mas "{{ $app }}", id: {{ $id }}
{{ end }}
