[user]
name = "Adam Petrovic"
email = "{{ .email }}"

[ui]
editor = "vim"
default-command = "log"
diff.tool = ["delta", "--dark", "$left", "$right"]

[fix.tools.detekt]
command = ["./gradlew", "detekt"]
patterns = ["glob:'**/*.kt'"]

[git]
auto-local-branch = false
push-bookmark-prefix = "apetrovic/push-"

[revsets]
log = "ancestors(immutable_heads()..(heads(all()) ~ untracked_remote_bookmarks()), 2)"

[revset-aliases]
"immutable_heads()" = "trunk() | tags()"

[aliases]
sync = ['git', 'fetch', '--all-remotes']
restack = ['rebase', '--skip-emptied', '-d', 'trunk()']
