[user]
name = "Adam Petrovic"
email = "{{ .email }}"

[ui]
editor = "vim"
default-command = "log"

[git]
push-branch-prefix = "apetrovic/push-"

[revsets]
log = "ancestors(immutable_heads()..(heads(all()) ~ untracked_remote_branches()), 2)"

[revset-aliases]
"immutable_heads()" = "trunk() | tags()"

[aliases]
sync = ['git', 'fetch', '--all-remotes']
restack = ['rebase', '--skip-emptied', '-d', 'trunk()']
