# init zinit
ZINIT_HOME="${HOME}/.local/share/zinit/zinit.git"
[ ! -d $ZINIT_HOME ] && mkdir -p "$(dirname $ZINIT_HOME)"
[ ! -d $ZINIT_HOME/.git ] && git clone https://github.com/zdharma-continuum/zinit.git "$ZINIT_HOME"
source "${ZINIT_HOME}/zinit.zsh"

autoload -Uz _zinit
(( ${+_comps} )) && _comps[zinit]=_zinit

zi ice pick"spaceship.zsh" as"theme" depth"1"
zi load spaceship-prompt/spaceship-prompt
SPACESHIP_PROMPT_ORDER=(
    user
    dir
    venv
    exec_time
    line_sep
    jobs
    exit_code
    char
)

SPACESHIP_RPROMPT_ORDER=(
    time
)

SPACESHIP_TIME_SHOW=true
SPACESHIP_EXIT_CODE_SHOW=true
SPACESHIP_EXIT_CODE_COLOR=red
SPACESHIP_PROMPT_ADD_NEWLINE=false

zi ice wait lucid atload'fast-theme -q clean' atinit'zpcompinit; zpcdreplay'
zi light zdharma-continuum/fast-syntax-highlighting

zi ice wait lucid blockf
zi light zsh-users/zsh-completions 

zi wait lucid light-mode for \
    atload'_zsh_autosuggest_start' \
        zsh-users/zsh-autosuggestions \
        zdharma-continuum/history-search-multi-word
ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE='fg=8'
ZSH_AUTOSUGGEST_BUFFER_MAX_SIZE=20


zinit ice atclone"/opt/homebrew/bin/gdircolors -b LS_COLORS > clrs.zsh" \
    atpull'%atclone' pick"clrs.zsh" nocompile'!' \
    atload'zstyle ":completion:*" list-colors “${(s.:.)LS_COLORS}”'
zinit light trapd00r/LS_COLORS

# z / fzf (ctrl-g)
zinit ice wait lucid
zinit light andrewferrier/fzf-z

# omz libraries
zi snippet OMZL::clipboard.zsh
zi snippet OMZL::history.zsh

# omz plugins
zi snippet OMZP::brew/brew.plugin.zsh
zi snippet OMZP::command-not-found/command-not-found.plugin.zsh
zi snippet OMZP::git-extras/git-extras.plugin.zsh
zi snippet OMZP::kubectl/kubectl.plugin.zsh
zi snippet OMZP::sudo/sudo.plugin.zsh

# presto
zi snippet PZTM::osx

# history settings
HISTSIZE=50000              #How many lines of history to keep in memory
HISTFILE=~/.zsh_history     #Where to save history to disk
SAVEHIST=99999999           #Number of history entries to save to disk
setopt    appendhistory     #Append history to the history file (no overwriting)
setopt    sharehistory      #Share history across terminals
setopt    incappendhistory  #Immediately append to the history file, not just when a term is killed
setopt    histignorespace   #Prefix command with space for it not to show in zsh history

# automatically escape characters in URL paste
autoload -U url-quote-magic bracketed-paste-magic
zle -N self-insert url-quote-magic
zle -N bracketed-paste bracketed-paste-magic

# EDITOR
EDITOR=vim

eval "$(/opt/homebrew/bin/brew shellenv)"
PATH=$HOMEBREW_PREFIX/bin:$PATH

source ~/.zsh/aliases.zsh