{{/* base level packages for all environments */}}
{{- $taps := list
    "adampetrovic/tap"
    "lucasgelfond/zerobrew" -}}

{{- $customTaps := dict -}}

{{- $brews := list
    "bind"
    "chezmoi"
    "coreutils"
    "dockutil"
    "entr"
    "git"
    "git-extras"
    "gnu-sed"
    "grep"
    "httpie"
    "httpstat"
    "jj"
    "mise"
    "pi-coding-agent"
    "pipenv"
    "rsync"
    "skopeo"
    "vim"
    "watch"
    "wget"
    "zsh" -}}

{{- $casks := list
    "alfred"
    "cleanshot"
    "codex"
    "docker-desktop"
    "fantastical"
    "font-jetbrains-mono"
    "ghostty"
    "jordanbaird-ice@beta"
    "logseq"
    "mitmproxy"
    "pycharm"
    "rectangle-pro"
    "adampetrovic/tap/things" -}}

{{- $mas := dict -}}

{{- $brewsWithArgs := dict -}}

{{/* personal-specific packages */}}
{{- if .personal -}}
{{- $taps = concat $taps (list) -}}

{{-  $brews = concat $brews (list
    "mas"
    "adampetrovic/tap/pi-telegram-bot") -}}

{{  $brewsWithArgs = merge $brewsWithArgs (dict) -}}

{{-  $casks = concat $casks (list
    "1password"
    "1password-cli"
    "bambu-studio"
    "claude-code"
    "helium-browser"
    "home-assistant"
    "istat-menus"
    "keepingyouawake"
    "keyboardcleantool"
    "macwhisper"
    "telegram") -}}

{{-  $mas = merge $mas (dict
    "Reeder Classic." "1529448980"
    "Wireguard" "1451685025") -}}
{{- end -}}


{{/* work-specific packages */}}
{{- if .work -}}
{{- $taps = concat $taps (list) -}}

{{  $customTaps = merge $customTaps (dict) -}}

{{  $brews = concat $brews (list
    "awscli") -}}

{{  $brewsWithArgs = merge $brewsWithArgs (dict
    "adampetrovic/tap/work-scripts" (list "HEAD")) -}}

{{  $casks = concat $casks (list
    "gcloud-cli"
    "loom") -}}

{{  $mas = merge $mas (dict) -}}
{{- end -}}

{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end }}
{{ range $name, $url := $customTaps -}}
tap "{{ $name }}", "{{ $url }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end }}
{{ range $name, $args := $brewsWithArgs -}}
brew "{{ $name }}", args: {{ $args | toJson }}
{{ end }}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end }}
{{ range $app, $id := $mas -}}
mas "{{ $app }}", id: {{ $id }}
{{ end }}
