{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash
# brewfile hash: {{ include "dot_Brewfile.tmpl" | sha256sum }}

set -eufo pipefail

eval "$(/opt/homebrew/bin/brew shellenv)"

brew update
brew bundle --no-lock --file=~/.Brewfile
brew bundle cleanup --zap --force --file=~/.Brewfile
{{- end -}}
