{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash
# brewfile hash: {{ include "dot_Brewfile.tmpl" | sha256sum }}

{{ if .work -}}
ping -t1 -c1 stash.atlassian.com &> /dev/null
if [ ! $? -eq 2 ]
then
    echo "[Work Profile] Please ensure Work VPN is enabled before running chezmoi apply"
    exit 1
fi
{{- end }}

set -eufo pipefail
eval "$(/opt/homebrew/bin/brew shellenv)"

# needed for private homebrew tap
export HOMEBREW_GITHUB_API_TOKEN={{ (onepasswordRead "op://Private/Github/personal access token") }}

brew update
brew bundle --file=~/.Brewfile
brew bundle cleanup --zap --force --file=~/.Brewfile
{{- end -}}
