# setup kubectl and talosctl access to homelab cluster

{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

# Step 1: Check if ~/code/home-ops doesn't exist. If it does, exit.
if [ -d "$HOME/code/home-ops" ]; then
    echo "~/code/home-ops already exists. Exiting."
    exit 0
fi

# Step 2: Clone the repository to $HOME/code/home-ops
git clone git@github.com:adampetrovic/home-ops.git "$HOME/code/home-ops"

# Step 3: Run talhelper to generate config
talhelper genconfig --no-gitignore --secret-file "$HOME/code/home-ops/kubernetes/bootstrap/talos/clusterconfig" -o /tmp

# Step 4: Move talosconfig to ~/.talos/config and delete /tmp/*.yaml
mv /tmp/talosconfig ~/.talos/config
rm /tmp/*.yaml

# Step 5: Test the command `talosctl time` runs and exits correctly
if ! talosctl time >/dev/null 2>&1; then
    echo "talosctl command failed. setup manually"
    exit 1
fi

# Step 6: Run talosctl to generate kubeconfig
talosctl kubeconfig -n 10.0.80.10 ~/.kube/config

# Step 7: Confirm `kubectl get nodes` runs and exits correctly
if ! kubectl get nodes >/dev/null 2>&1; then
    echo "kubectl command failed. setup manually"
    exit 1
fi
{{- end -}}
