{{ if (eq .chezmoi.os "darwin" "linux") -}}
#!/bin/bash
# vimrc hash: {{ include "dot_vimrc" | sha256sum }}

set -eufo pipefail

vim -c NeoBundleInstall -c qa
vim -c GoInstallBinaries -c qa
{{ end -}}
