{{ (onepasswordItemFields "krax3py6xt2nkn3peqyjgw7nmm").email.value }} {{ (onepasswordDetailsFields "krax3py6xt2nkn3peqyjgw7nmm").public_key.value }}
{{ (onepasswordItemFields "46cauqkszyrupjn2vh7hgurks4").email.value }} {{ (onepasswordDetailsFields "46cauqkszyrupjn2vh7hgurks4").public_key.value }}