{
  "lastChangelogVersion": "0.85.1",
  "defaultProvider": "openai-codex",
  "defaultModel": "{{ if .work }}gpt-5.6-sol{{ else }}gpt-5.5{{ end }}",
  "defaultThinkingLevel": "medium",
  "compaction": {
    "enabled": true,
    "reserveTokens": 32768,
    "keepRecentTokens": 12000
  },
  "packages": [
    "npm:@juicesharp/rpiv-ask-user-question",
    "npm:@juicesharp/rpiv-todo",
    "npm:@juicesharp/rpiv-btw",
    "npm:@tintinweb/pi-subagents",
    "npm:pi-web-access",
    "npm:pi-lens",
    "npm:@plannotator/pi-extension",
    "npm:@juicesharp/rpiv-args"{{ if .personal }},
    "npm:@narumitw/pi-usage"{{ end }}
  ],
  "theme": "dark"
}
