{{ if .personal -}}
api_key: "{{ (onepasswordRead "op://Hidden/Stash/apikey") }}"
graphql_url: "https://{{- (onepasswordRead "op://Hidden/Stash/url") -}}/graphql"
watch_dir: "~/Desktop/.config"
namespace: "media"
pod_label: "app.kubernetes.io/name=stash"
max_workers: 4
watch_interval: 5
watch: true
{{ end -}}
