{{ if .personal -}}
api_key: {{ onepasswordRead "op://k8s/stash/STASH_API_KEY" | quote }}
base_url: "https://stash-uploader.petrovic.network"
stash_url: "https://stash.petrovic.network"
watch_dir: "{{ .chezmoi.homeDir }}/Desktop/.config"
watch: true
max_workers: 4
watch_interval: 5
{{ end -}}
